  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BakeryCake</title>
    <style>
        html{
            background-color: azure;
        }
        .header{
            background-image: url("1.jpg");
            flex-basis: 100%;
        }
        .container {
            display: flex;
            background-color: lemonchiffon;
            width: 990px;
            flex-flow: row wrap;
            margin: auto;
        }
        .footer{
            alignment: center;
            background-color: gray;
            margin: auto;
            flex-basis: 100%;
        }
        div.header h1{
            margin-bottom: 0;
            padding: 40px;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align:center  ;
            letter-spacing:0.3em;
        }
        .side-site{
            flex:1;
            padding-right: 40px;
            padding-top: 40px;
            font-family: 'Dosis', sans-serif;
        }
        .main{
            flex: 2;
            padding: 40px;
            font-family: 'Dosis', sans-serif;
        }
        aside img{
            width:150px;
            height: 100px;
        }
        .header a{
            border:3px solid burlywood;
            background: lightgoldenrodyellow;
            text-decoration: none;
        }

    </style>
</head>
<div class="container">
    <div class="header">
        <div><h1>Cake Bakery</h1></div>
        <a href="page1">Home</a>
        <a href="page2">List</a>
        <a href="page3">Log in</a>
        <a href="page4">Register</a>
        <a href="page5">Contact</a>
    </div>


   <div class="main">
        <h1>Contact</h1>
        <table>
            <tr>
                <td>Contact</td>
                <td>tel:02-XXXXXXX</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>BakeryCake@bake.com</td>
            </tr>

        </table>
    </div>
    
<div class="footer">
    &copy; BakeryCake @Thammasat University : CN340
</div>
</div>
</body>
</html>